# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
.env

# Django
db.sqlite3
*.log
media/

# VS Code
.vscode/

# Mac / Linux
.DS_Store

# Environment variables
.env*

# Static files (optional)
staticfiles/